@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
}

html {
  scroll-behavior: smooth !important;
  font-size: 16px;
  background-color: #f8f8f8; /* slightly warm white */
}

@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 17.6px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Alegreya", serif;
}

.text-primary {
  color: #111;
}

.text-secondary {
  color: #00275c;
}
