@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
}

html {
  scroll-behavior: smooth !important;
  font-size: 16px;
  background-color: #fafafa;
}

@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 17.6px;
  }
}

/* * {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><circle cx='12' cy='12' r='12' fill='orange' fill-opacity='0.8'/></svg>")
      12 12,
    default;
}

a:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><circle cx='12' cy='12' r='12' fill='green' fill-opacity='0.8'/></svg>")
      12 12,
    pointer;
} */

@media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Alegreya", serif;
}

.text-primary {
  color: #111;
}

.text-secondary {
  color: #00275c;
}
